<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>960885185683-e62ikdl4pikdfsbb6or7hp1p8bcq4ue4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.960885185683-e62ikdl4pikdfsbb6or7hp1p8bcq4ue4</string>
	<key>API_KEY</key>
	<string>AIzaSyBF4ca-QL6LWcI9M6-WhAWuFgRH1OMFoog</string>
	<key>GCM_SENDER_ID</key>
	<string>960885185683</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.amo.authtest</string>
	<key>PROJECT_ID</key>
	<string>authandmultienvironmenttest</string>
	<key>STORAGE_BUCKET</key>
	<string>authandmultienvironmenttest.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:960885185683:ios:4a4d96e95f96c597cd0166</string>
</dict>
</plist>